{% extends 'partials/langswitcher-logic.html.twig' %}

{% block language_block_start %}
<ul class="langswitcher">
{% endblock %}

{% block language_block_end %}
</ul>
{% endblock %}

{% block language_item %}
    {% if show_language %}
    <li><a href="{{ lang_url ~ uri.params ~ (uri.query|length > 1 ? '?' ~ uri.query) }}" class="external {{ active_class }}">{% include 'partials/langswitcher-' ~ display_format ~ '.html.twig' %}</a></li>
    {% endif %}
{% endblock %}
